<% include ../partials/header %>

<div class="jumbotron jumbotron-fluid text-center">
	<h1>create a new Comment  <%= user.name %></h1>
</div>

<div class="container">
    <form action="/stories/<%= story._id %>/comment/<%= comment._id %>" method="POST" class="form-group">
       <label for="comment">Enter a comment</label>
        <input type="text" id="comment" class="form-control">
        <input type="submit" value="Enter" class="form-control btn btn-primary btm-sm">
    </form>
</div>